@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* *,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    width: 90%;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    background: #2d2d2d;
    color: #000;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.1rem;
    font-weight: 600;
    color: #fff;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: rgb(248, 108, 108);
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #ffffff;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #2d2d2d;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 8px;
        right: 30px;
        font-size: 2.2rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

/* ----- NAVIGATION BAR ENDS HERE ------ */
.video-section {
    position: relative;
    height: 690px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translate(-50%, -50%);
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for text visibility */
    z-index: -1;
}

.overlay-content {
    color: white;
    z-index: 1;
    padding: 20px;
}

.overlay-content h1 {
    font-size: 3em;
    font-weight: 600;
    margin: 0;
}

.overlay-content p {
    font-size: 1.5em;
    margin: 10px 0;
    color: #fff;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1em;
    color: white;
    background-color: rgb(236, 41, 41); /* Emerald Green */
    text-decoration: none;
    transition:  0.3s;
}

.cta-button:hover {
    background-color: rgb(203, 14, 14); /* Darker green for hover effect */
}

@media (max-width: 768px) {
  .video-section {
    height: 400px;
}

    .overlay-content h1 {
        font-size: 2.5em;
    }

    .overlay-content p {
        font-size: 1.2em;
    }

    .cta-button {
        font-size: 1em;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .overlay-content h1 {
        font-size: 2em;
    }

    .overlay-content p {
        font-size: 1em;
    }

    .cta-button {
        font-size: 0.8em;
        padding: 8px 16px;
    }
}


.booking-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3rem;
   
  }

  .hotel-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3rem;
  }

  .card {
    border: 2px solid #464646;
    border-radius: 0px;
    padding: 20px;
    width: 25%;
    text-align: center;
    margin: 10px;
    
  }

.card  .icon {
    font-size: 48px;
    margin-bottom: 10px;
    color: #939393;
    transition: .6s;
  }
  .card .icon:hover{
    color: rgb(248, 108, 108);
    transition: .6s;
  }

.card span {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
  }

.card  p {
    font-size: 15px;
  }

  @media screen and (max-width: 768px){
    .booking-container{
        flex-direction: column;
        height: auto;
        gap: 1rem;
    }
    .hotel-container{
        gap: 1rem;
        flex-direction: column;
        height: auto;
        gap: 1rem;
    }
    .card{
        width: 90%;
        height: auto;
        margin-left: 5%;
        padding: 10px;
    }
    .card  .icon {
        font-size: 30px;
        margin-bottom: 7px;
      }
    
    .card span {
        font-size: 18px;
      }
    
    .card  p {
        font-size: 12px;
      }
  }


  .travel-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-top: 0%;
    padding: 50px 20px;
    background-position: center;
    background-size: cover;
  }

 .travel-section  .text-content {
    width: 30%;
    margin-left: 10%;
  }

.travel-section .text-content h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
  }

.travel-section  .text-content p {
    font-size: 14px;
    line-height: 1.6;
  }

.travel-section .travel-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgb(236, 41, 41);
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.4s ease;
  }
  .travel-section .travel-button:hover{
    background-color: #fff;
    color: rgb(236, 41, 41);
    border: 2px solid rgb(236, 41, 41);
  }

  .travel-section  .image-container {
    width: 40%;
  }

  .travel-section .image-container img {
    width: 100%;
    height: auto;
    float: right;
  }

    @media screen and (max-width: 768px){
        .travel-section{
            flex-direction: column;
            padding: 0px;
            gap: 1rem;
        }
        .travel-section .text-content{
            width: 90%;
            height: auto;
            margin-left: 0%;
        }
        .travel-section .text-content h2 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
          }
        
        .travel-section  .text-content p {
            font-size: 12px;
            line-height: 1.3;
          }

          .travel-section .travel-button {
            display: inline-block;
            padding: 12px 20px;
            font-size: 10px;
          }

          .travel-section  .image-container {
            width: 90%;
          }
        
          .travel-section .image-container img {
            width: 100%;
            height: auto;
          }
    }


.country-section {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
}

.country-card {
    flex: 1;
    margin: 15px;
    background: #fff;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
}

.country-card img {
  width: 100%;
  height: 350px;
}

.country-card:hover{
  transform: scale(1.05);
  transition: 0.4s;
  width: 100%;
  cursor: pointer;
}
.country-card-content {
  margin: 10px;
  margin-top: 15px;
  text-align: left;
}
.country-card-content span{
  color: #ff7b00;
  font-size: 12px;
}
.country-card-content #circle{
  font-size: 5px;
  margin-right: 3%;
}
.country-card-content p{
  color: #6b6b6b;
  font-size: 13px;
}

@media screen and (max-width: 768px){
  .country-section {
    flex-direction: column;
    height: auto;
    padding: 0px;
}
  
  .country-card{
    width: 90%;
    margin-left: 5%;
    height: 400px;
  }

  .country-card img {
    width: 100%;
    height: 200px;
  }
  .country-card-content {
    margin-top: 15px;
    text-align: left;
  }
  .country-card-content span{
    font-size: 11px;
  }
  .country-card-content #circle{
    font-size: 5px;
  }
  .country-card-content p{
    font-size: 11px;
  }
}

.mission-section {
    display: flex;
    justify-content:center;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

 .mission-section  .text-left, .text-right {
    width: 30%;
  }

.mission-section  .text-left {
    margin-right: 20px;
  }

.mission-section  .text-right {
    margin-left: 20px;
  }

 .mission-section h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
  }

 .mission-section p {
    font-size: 15px;
    line-height: 1.6;
  }

  @media screen and (max-width: 768px) {
    .mission-section {
      flex-direction: column;
      padding: 2px;
      gap: 1rem;
    }

    .mission-section  .text-left, .text-right {
      width: 90%;
      height: auto;
      margin-left: 5%;
    }
    .mission-section h2 {
        font-size: 18px;
        margin-bottom: 5px;
      }
    
     .mission-section p {
        font-size: 12px;
        line-height: 1.4;
      }
  }


  .summer-text{
    text-align: left;
    padding: 10px;
    background: url(../images/white\ corner.jpg);
    background-position: center;
    background-size: cover;
  }

  .summer-text  h2 {
    font-size: 20px;
    margin-left: 17%;
    font-weight: 500;
    color: rgb(236, 41, 41);
  }
  .summer-text  h1 {
    font-size: 23px;
    margin-left: 17%;
  }

  .summer-text  p {
    font-size: 14px;
    line-height: 1.6;
    margin-left: 17%;
  }
  


  @media screen and (max-width: 768px){
    .summer-text{
        margin-top: 3%;
    }
    .summer-text  h2 {
      font-size: 15px;
      margin-left: 3%;
    }
    .summer-text  h1 {
      font-size: 18px;
      margin-left: 3%;
    }
  
    .summer-text  p {
      font-size: 12px;
      line-height: 1.3;
      margin-left: 3%;
    }
  }

  .packages-section {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 10px;
   gap: 20px;
}

.packages-card {
    width: 35%;
    height: auto;
    padding: 10px;
    border: 1px solid #d0d0d0;
}

.image-slider {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.image-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slide 12s infinite;
}

.image-slider img:nth-child(1) {
    animation-delay: 0s;
}

.image-slider img:nth-child(2) {
    animation-delay: 4s;
}

.image-slider img:nth-child(3) {
    animation-delay: 8s;
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.card-content {
    padding: 15px;
    text-align: center;
}

.packages-content h2 {
    margin: 0 0 10px;
    font-size: 1em;
    font-weight: 500;
    margin-top: 2%;
}

.packages-content p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}

@media (max-width: 768px) {
    .packages-card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .packages-card {
        width: 100%;
    }
}

.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background:linear-gradient(rgba(69, 69, 69, 0.5), #151515), url(../images/business.jpg);
    background-position: center;
    background-size: cover;
  }

  .youtube-text {
    text-align: center;
  }

  .youtube-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
  }

  .youtube-text p {
    font-size: 10px;
    padding: 10px;
  }
  .youtube #youtube{
      background: red;
      border: none;
      padding: 10px 30px;
      border-radius: 20px;
  }
  .youtube a{
    color: #fff;
    text-decoration: none;
  }
  @media screen and (max-width:320px){
    .youtube {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 250px;
      background:linear-gradient(rgba(69, 69, 69, 0.5), #0F403C), url(/images/business.jpg);
      background-position: center;
      background-size: cover;
    }
  
    .youtube-text {
      text-align: center;
    }
  
    .youtube-text h2 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #fff;
    }
  
    .youtube-text p {
      font-size: 10px;
      padding: 10px;
    }
    .youtube #youtube{
        background: red;
        border: none;
        padding: 10px 30px;
        border-radius: 20px;
    }
  }
  .testimonials-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

.section-header h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}

.section-header h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #777;
}

.card-section {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    height: auto;
    transition: transform 0.3s;
}


.card-content {
    padding: 15px;
}

.card-content p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.card-content h4 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

@media (max-width: 768px) {
    .card-section {
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
}
.world-map {
  text-align: center;
  margin: 20px;
}

.world-map img {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .map-section h2 {
      font-size: 1.5em;
  }

  .map-section {
      padding: 10px;
  }
}

footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 13px;
  width: 100%;
  height: auto;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
footer h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 2em;
  font-weight: 600;
  white-space: nowrap;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
footer li:not(:first-child) {
  margin-top: 0.8em;
}
footer ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
footer ul li a:hover {
  color: #2a8ded;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
input,
footer button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  margin-bottom: 5px;
}
button {
  background-color: rgb(203, 14, 14);
  color: #ffffff;
}
div.social {
  display: flex;
  gap: 0.5em;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
.social i {
  color: #fff;
  transition: .5s ease;
}
.social i:hover{
  color: rgb(248, 108, 108);
}

.copyright {
  padding: 0.3em 1em;
  background-color: #25262e;
}


.copyright p {
  font-size: 0.9em;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }

}

  .about{
    width: 100%;
    height: 400px;
    background:linear-gradient(rgba(0,0,0,0.5),#2f2f2f41), url(../images/about\ bacc\ 1.jpeg );
    background-position: center;
    background-size: cover;
  }
  
  .about h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }
 
 
  @media screen and (max-width:320px){
    .about{
      width: 100%;
      height: 200px;
    }
  }
  @media screen and (max-width: 7680px){
    .about{
      width: 100%;
      height: 400px;
    }
    .about h2{
      font-size: 40px;
    }
  }


  .about-container{
    display: flex;
    width: 100%;
    height: 450px;
    padding: 10px;
  }
  .about-image{
    width: 49%;
    height: 400px;
    margin: 10px;
  }
  .about-text{
    width: 49%;
    height: 400px;
    margin: 10px;
  }

  .about-image img{
    width: 100%;
    height:400px;
    object-fit: cover;
  
  }
  @media screen and (max-width: 280px){
    .about-container{
      display: flex;
      width: 100%;
      height: 580px! important;
      /* justify-content: space-between; */
      padding: 10px;
    }
    .about-image{
      width: 49%;
      height: 120px! important;
      margin: 10px;
    }
    .about-image img{
      width: 100%;
      height: 120px! important;
    }
    
  }
  
  @media screen and (max-width: 320px){
    .about-container{
      display: flex;
      flex-direction: column;
      height: 590px;
    }
    .about-image{
      width: 95%;
      height: 200px;
      margin-left: 2.5%;
    }
    .about-image img{
      width: 100%;
      height:200px;
    }
    .about-text{
      width: 95%;
      height: 330px;
      margin-left: 2.5%;
    }
    .about-text p{
      font-size: 10px;
    }
  }
  @media screen and (max-width:768px){
    .about-container{
      display: flex;
      flex-direction: column;
      height: 700px;
    }
    .about-image{
      width: 90%;
      height: 300px;
      margin-left: 5%;
    }
    .about-image img{
      width: 100%;
      height:300px;
    }
    .about-text{
      width: 90%;
      height: 330px;
      margin-left: 5%;
      font-size: 11px;
    }
  }
  
  .philosophy-section {
    background-color: #e1e1e1;
    padding: 20px;
  }
  
  .philosophy-text {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    padding: 20px;
  }
  
 
  
  @media screen and (max-width:320px){
    .philosophy-section {
     width: 100%;
     height: 420px;
    }
    .philosophy-section h3{
      font-size: 12px;
    }
    .philosophy-section p{
      font-size: 10px;
    }
    .philosophy-section ul{
      font-size: 10px;
    }
  }
  @media screen and (max-width: 768px){
    .philosophy-section {
      width: 100%;
      height: 420px;
     }
     .philosophy-section h3{
       font-size: 12px;
     }
     .philosophy-section p{
       font-size: 10px;
     }
     .philosophy-section ul{
       font-size: 10px;
     }
  }
  
  
  .values-section {
    text-align: center;
    padding: 5px;
}

.values-section h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.values-section .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.values-section .card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 35%;
    max-width: 600px;
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0px;
}

.values-section .card img {
    width: 180px;
    height: 150px;
    object-fit: cover;
    margin-left: 10px;
}

.values-section .card-content {
    flex: 1;
    margin-left: 10px;
    text-align: left;
}

.values-section .card-content h3 {
    margin: 0 0 10px 0;
    font-size: 1.3em;
    font-weight: 550;
}

.values-section .card-content p {
    margin: 0 0 20px 0;
    font-size: 0.8em;
    color: #666;
}

.values-section .card-content button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(203, 14, 14);
    color: #fff;
    cursor: pointer;
    font-size: 0.7em;
}

.values-section .card-content button:hover {
    background-color: rgb(248, 108, 108);
}

@media (max-width: 768px) {
  .value-section{
    gap: 10px;
  }
  .values-section .card {
        width: 100%;
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .values-section .card img {
      width: 100%;
        margin: 0 0 20px 0;
    }
    .values-section .card-content {
      margin-left: 0px;
      width: 100%;
      height: auto;
  }
  
  .values-section .card-content h3 {
    margin: 0 0 5px 0;
      font-size: 0.9em;
  }
  
  .values-section .card-content p {
      margin: 0 0 5px 0;
      font-size: 0.6em;
  }
  .values-section .card-content button {
    padding: 8px 18px;
    font-size: 0.5em;
}
}
  
 

  .image-section {
    display: flex;
    width: 100%;
    height: 500px; /* Adjust height as needed */
}

.image-section img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .image-section {
        flex-direction: column;
        height: auto;
    }

    .image-section img {
        width: 100%;
        height: 50vh; /* Adjust height as needed */
    }
}
  

  .services{
    width: 100%;
    height: 400px;
    background:linear-gradient(rgba(0,0,0,0.5),#2f2f2f41), url(../images/services\ bacc.jpeg );
    background-position: center;
    background-size: cover;
  }
  
  .services h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }

  .explore{
    width: 100%;
    height: 220px;
    margin-top: 3%;
  }
  .explore-content{
    width: 95%;
    height: 220px;
    margin-left: 2.5%;
  }
  .explore-content h2{
    font-weight: 550;
  }
  .explore-content p{
    font-size: 0.9em;
  }
 
  
  @media screen and (max-width: 768px){
    .services{
      height: 300px;
    }
    
    .services h2{
      top: 25%;
    }
    .explore{
      width: 100%;
      height: 350px;
    }
    .explore-content{
      width: 95%;
      height: 340px;
      margin-left: 2.5%;
      font-size: 13px;
    }
  }
  
  .offer{
    padding: 30px;
    display: flex; 
    flex-wrap: wrap; 
  }
  
  
  .offer h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    flex-basis: 100%; 
  }
  
  .offer-card {
    background-color: #c8c8c8;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px;
  }
  
  .offer-card h3 {
    font-size: 1.2em;
    font-weight: 550;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .offer-card p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #000000;
  }
  
  .offer-card button {
    background: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .offer-card button:hover {
    background-color: #000;
    color: #fff;
  }
  
  @media screen and (max-width: 768px){
    .offer{
      padding: 20px;
      display: flex;
      flex-direction: column; 
      flex-wrap: wrap; 
    }
    .offer-card{
      width: 100%;
      margin-left: 0%;
    }
    .offer-card h3{
      font-size: 1em;
    }
    .offer-card p{
      font-size: 0.6em;
    }
    .offer-card button{
      font-size: 0.7em;
      font-weight: 550;
    }
  }
  
  .reservation{
    width: 100%;
    height: 400px;
    background:linear-gradient(rgba(0,0,0,0.5),#2f2f2f41), url(../images/reservation\ bacc.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  .reservation h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }
 
  
  .reservation-signup{
    width: 100%;
    height: 650px;
    margin-top: 3%;
  }
  
  .login{
   width: 40%;
   height: 600px;
   float: left;
   margin-left:4%;
   margin-bottom: 2%;
   background: rgb(208, 208, 208);
  }
  
  .logreg-box .form-box{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 45%;
   height: 600px;
   backdrop-filter: blur(20px);
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   color: #000000;
  }
  .form-box h2{
   font-size: 32px;
   text-align: center;
   font-family: arial;
  }
  .form-box .input-box{
   position: relative;
   width: 340px;
   height: 50px;
   border-bottom: 2px solid #000000;
   margin: 30px 0;
  }
  .input-box input{
   width: 100%;
   height: 100%;
   background: transparent;
   border: none;
   outline: none;
   font-size: 16px;
   color: #000000;
   font-weight: 500;
   padding-right: 28px;
  }
  .input-box label{
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   font-size: 16px;
   font-weight: 500;
   font-family: arial;
   pointer-events: none;
   transition: .5s ease;
  }
  .input-box input:focus~label,
  .input-box input:valid~label{
   top: -5px;
  }
  
  .input-box .icon{
   position: absolute;
   top: 13px;
   right: 0;
   font-size: 19px;
   font-family: arial;
  }
  
  .form-box .remember-forgot{
   font-size: 14.5px;
   font-family: arial;
   margin: -15px 0 15px;
   display: flex;
   justify-content: space-between;
  
  }
  .remember-forgot label input{
   accent-color: #000000;
   margin-right: 3px;
  }
  .remember-forgot a{
   color: #000000;
   text-decoration: none;
  }
  .remember-forgot a:hover{
   text-decoration: underline;
  }
  .botton{
   width: 100%;
   height: 45px;
   background: #0F403C;
   outline: none;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   color: #fff;
   font-weight: 500;
   box-shadow: 0 0 10px rgb(0, 0, 0, .5);
  }
  .form-box .login-register{
   font-size: 13px;
   font-weight: 500;
   font-family: arial;
   text-align: center;
    margin-top: 25px;
  }
  .login-register p a{
   color: #000000;
   font-weight: 600;
   text-decoration: none;
  }
  .login-register p a:hover{
   text-decoration: underline;
  }
  
  .reservation-signup .img{
   width: 45%;
   height: 600px;
   margin-left: 3%;
   border-radius: 10px;
  }
  
   @media screen and (max-width: 768px){
    .reservation{
      height: 300px;
    }
    .reservation h2{
      top: 25%;
      font-size: 2em;
    }
    
    .reservation-signup{
      display: flex;
      flex-direction: column;
      height: 750px;
    }
    .login{
      width: 90%! important;
      height: 330px! important;
      float: left;
      margin-left:5%;
     }
  
     .logreg-box .form-box{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%! important;
      height: 350px! important;
     }
     .form-box h2{
      font-size: 20px;
     }
     .form-box .input-box{
      position: relative;
      width: 80%! important;
      height: 50px;
      margin-left: 10%;
     }
     .form-box .remember-forgot{
      font-size: 12px;
     }
     .reservation-signup .img{
      width: 90%;
      margin-left: 5%;
      height: 350px;
     }
   } 
   
   .contact{
    width: 100%;
    height: 400px;
    background:linear-gradient(rgba(0,0,0,0.5),#2f2f2f41), url(../images/contact2.jpg);
    background-position: center;
    background-size: cover;
   }
   .contact h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size:2em;
    font-weight: 600;
   }

   .contact-section {
    display: flex;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
}
.contact-section .card {
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 30%;
    height:300px;
    margin: 20px;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 0px;
    outline: none;
    border: none;
}
.contact-section .card img {
    width: 100%;
    height: 100%;
}
.contact-section .card-content {
    padding: 20px;
}
.contact-section .card-header {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 550;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
}
.contact-form textarea{
  padding: 5px;
  font-size: 0.8em;
}
.contact-form button {
    padding: 10px;
    font-size: 0.8em;
    border: none;
    background-color: rgb(203, 14, 14);
    color: white;
    cursor: pointer;
    margin-top: 3%;
}
.contact-form button:hover {
    background-color: #218838;
}
@media screen and (max-width: 768px){

  .contact{
    height: 300px;
   }
   .contact h2{
    top: 25%;
   }
  .contact-section {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}
.contact-section .card {
    width: 100%;
    height: 250px;
    margin: 0px;
}
.contact-section .card img {
    width: 100%;
    height: 100%;
}
.contact-section .card-content {
    padding: 20px;
}
.contact-section .card-header {
    font-size: 0.8em;
    font-weight: 550;
}
.contact-section p{
  font-size: 0.7em;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 0.6em;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: calc(100% - 22px);
}
.contact-form textarea{
  padding: 3px;
  font-size: 0.6em;
}
.contact-form button {
    padding: 10px;
    font-size: 0.6em;
    border: none;
    background-color: rgb(203, 14, 14);
    color: white;
    cursor: pointer;
    margin-top: 3%;
}
.contact-form button:hover {
    background-color: #218838;
}
}

.map-section {
  padding: 5px;
  background-color: #f9f9f9;
  width: 90%;
  height: 500px;
  margin-left: 5%;
}

.map-section iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .map-section {
    width: 100%;
    height: 200px;
    margin-left: 0%;
    padding: 20px;
  }
  
  .map-section iframe {
    width: 100%;
    height: 100%;
  }
}

   .blog{
    width: 100%;
    height: 400px;
    background:linear-gradient(rgba(0,0,0,0.5),#2f2f2f41), url(../images/blog\ bacc.jpeg);
    background-position: center;
    background-size: cover;
  }
  .blog h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }
 
  @media screen and (max-width: 768px){
   .blog{
    height: 300px;
   }
   .blog h2{
    top: 25%;
   }
  }
  
  
  .blog-content{
    display: flex;
    width: 100%;
    height: 520px;
    background: #f6f6f6;
    padding: 20px;
  }
  .blog-content1{
    display: flex;
    width: 100%;
    height: 520px;
    background: #f6f6f6;
    padding: 20px;
  }
  
  .blog-content2{
    display: flex;
    width: 100%;
    height: 520px;
    background: #f6f6f6;
    padding: 20px;
  }
  .blog-card1{
    width: 30%;
    height: 460px;
    background: #fff;
    margin: 20px;
  }
  
  .blog-card2{
    width: 30%;
    height: 460px;
    background: #fff;
    margin: 20px;
  }


  .blog-text{
    padding: 15px;
    width: 100%;
    height: 200px;
  }
  .blog-text p{
    font-size: 12px;
  }
  .blog-read{
    text-decoration: none;
    color: brown;
    font-size: 13px;
    transition: 0.5s;
  }
  .blog-read:hover{
    transition: 0.5s;
    margin-left: 3%;
  }
  
  .blog-search{
    width: 30%;
    height: 400px;
    margin: 20px;
  }


  
  .blog-card1 .blog-card-image{
    width: 100%;
    height: 250px;
    background: url(../images/picnic\ 3.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .blog-card2 .blog-card-image{
    width: 100%;
    height: 250px;
    background: url(../images/covid\ 19.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .search-blog{
    display: flex;
    width: 80%;
    height: 30px;
    margin-left: 10%;
    margin-top: 1%;
  }
  .blod-search{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
  }
  #blog-glass{
    color: #000000;
    margin-top: 3%;
    font-size: 13px;
  }
  .blog-search-text{
    width: 100%;
    height: 440px;
    margin-top: 6%;
    padding: 5px;
    transition: .6s;
    cursor: pointer;
  }
  .blog-search-text span:hover{
    transition: .6s;
    text-decoration: underline;
    color: rgb(203, 14, 14);
  }
  
  .cate-hr{
    width: 15%;
    height: 3px;
    border: none;
    background: rgb(203, 14, 14);
  }
  
  
 
  
  .blog-card1 .blog-card-image1{
    width: 100%;
    height: 250px;
    background: url(../images/beach\ vacation.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .blog-card2 .blog-card-image2{
    width: 100%;
    height: 250px;
    background: url(../images/summer.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .blog-card1 .blog-card-image5{
    width: 100%;
    height: 250px;
    background: url(../images/health\ and\ wellness\ travel.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .blog-card2 .blog-card-image6{
    width: 100%;
    height: 250px;
    background: url(../images/historical\ and\ cultural\ landmark.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  
  .blog-recent{
    width: 30%;
    height: 460px;
    margin: 20px;
    padding: 10px;
    gap: 50px;
  }
  .blog-recent-card{
    display: flex;
  }
 
  .blog-recent-card h4:hover{
    transition: .6s;
    text-decoration: underline;
    color: brown;
  }
  .picnic-image{
    width: 45%;
    height: 90px;
  }
  .picnic-img{
    width: 100%;
    height: 90px;
  }
  .picnic-text{
    width: 52%;
    height: 90px;
    padding: 3px;
    margin-left: 2%;
  }
  

  @media screen and (max-width: 768px){
    .blog-content{
      flex-direction: column;
      height: 1350px;
    }
    .blog-card1{
      width: 100%;
      height: auto;
      background: #fff;
      margin-left: 0%;
    }
    
    .blog-card2{
      width: 100%;
      height: auto;
      background: #fff;
      margin-left: 0%;
    }
    .blog-text h4{
      font-size: 0.9em;
      font-weight: 550;
    }
    
    .blog-text p{
      font-size: 0.7em;
    }
    .blog-text a{
      font-size: 0.7em;
      margin-bottom: 5px;
    }
    .blog-search{
      width: 100%;
      height: 300px;
      margin-left: 0%;
    }
    
    .search-blog{
      width: 90%;
      margin-left: 0%;
    }
    .blog-search{
      font-size: 13px;
    }
    #blog-glass{
      margin-left: 0%;
    }

    .blog-content1{
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
    .blog-content2{
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
    .blog-recent{
      height: 300px;
      width: 100%;
      margin-left: 0%;
    }
    .blog-recent h3{
      font-size: 1em;
      font-weight: 550;
    }
  
    .cate-hr{
      width: 40%;
      height: 1px;
    }
    .blog-recent-card{
      display: flex;
      width: 90%;
      height: 50px;
      margin: 5px;
    }
    .blog-recent-card h4{
      font-size: 0.7em;
    }
    .blog-recent-card i{
      margin-left: 5%;
    }
    .blog-recent-card p{
      font-size: 0.8em;
      margin-left: 5%;
    }
    .picnic-image{
      width: 40%;
      height: 100%;
    }
    .picnic-img{
      width: 100%;
      height: 100%;
    }
  }